

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{

  display: flex;
  justify-content: center;
  align-items: center;


}

form {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 300px;
}


 label {
  font-size: 20px;
}

 input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

 button {
  margin-top: 15px;
  padding: 10px;
  margin-left: 10px;
  width: 90%;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
}

 button:hover {
  background-color: #0056b3;
}


img {
  display: block;
  margin-top: 10px;
  max-width: 25%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
}







.navbar {
  background-color: #007bff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

a {
  color: linear-gradient( #007bff, #0056b3);
  text-decoration: none;
  padding: 1px 10px;
  border-radius: 4px;
}

a:hover {
  background-color: #0056b3;
  color: white;
}

h1{
  margin-top: 5%;
}


.editing{
  margin-top: 5%;
}